  @media screen and (max-width: 1199px){
  	.kopa-page-header-1 .main-nav{
  		display: none;
  	}
  	.kopa-page-header-1{
  		.hamburger-menu{ 
  			display: block;

  		} 
  	}
  	.kopa-page-header-1 .kopa-logo{float: left}

  	
  }
  @media screen and (max-width: 1160px) {
  	.nav-4{
  		display: none;
  	}
  	.nav-4-sub{
  		display: block;
  	}
  	.millside-module-bottom-menu{
  		text-align: center;
  	}
  	.millside-module-bottom-menu .widget-content{
  		float: none;
  		display: inline-block; 
  	}

  	.kopa-page-footer > div{
  		padding: 30px 0;
  	}

  	.millside-module-tab .nav-tabs > li{
  		padding: 0 35px;
  	}


//Home 2
.kopa-page-header-2 .main-menu > li{
	margin-right: 20px;
}
.millside-module-intro-14 .widget-title{
	font-size: 36px;
}
.kopa-page-header-2 .header-right .main-menu{
	margin-left: 15px;
}
.kopa-area-4 .millside-module-intro-14, .kopa-area-6 .millside-module-intro-15{
	margin: 50px 50px;
}
.kopa-area-4 .millside-module-intro-14 .widget-sub-title, .kopa-area-4 .millside-module-intro-14 .widget-title{
	margin-bottom: 15px;
}
.hidden-1{
	display: none;
}

.millside-module-mail .enter-mail{
	margin-right: 0;
	margin-left: 0;
}
.millside-module-bottom-logo-2{
	margin: 0;
}

//home3



.owl-carousel-3 .part-1 p:nth-of-type(1){
	margin-top:15px;
}
.owl-carousel-3 .part-1 p:nth-of-type(2){
	font-size: 36px;
}

.millside-module-text{
	display: none;
}

//home 4
.kopa-area-62 .millside-module-article-list-10{
	display: none;
}
.ct-item-11 .item-header .item-thumb{
	width: 70px;
}
.ct-item-11 .item-header .item-title{
	font-size: 16px;
	padding: 15px 10px;
	line-height: 22px;
}
.ct-item-11{
	.item-header{
		background: $color-001;		
	}
}
.ct-item-11 .item-content{
	padding: 17px 22px;
}

.owl-carousel-4 .owl-prev, .owl-carousel-4 .owl-next, .owl-carousel-4 button{
	top: 460px;
}

.slide-area .kopa-scroll.style-01{
	bottom: 20px;
}
.millside-module-intro-1{
	margin-right: -30px;
}
.millside-module-intro-1 .entry-icon {
	margin-right: 30px;
	margin-left: 0;
}
.millside-module-intro-1 ul li:first-child:before{
	left: 35px;
}
.millside-module-intro-1 ul li:after{
	left: 35px;
}
.millside-module-intro-2{
	margin-right: 0;
}
.millside-module-intro-2 .entry-icon {
	margin-right: 30px;

}



.bottom-logo{
	margin-top: 38px;
	img{
		float: left;
		width: 42px;
	}
	.bottom-logo-title{
		float: left;
		margin-left: 13px;
		font-size: 20px;
		margin-top: 5px;
		&:after{
			display: none;
		}
	}
	.bottom-logo-sub-title{
		display: none;
	}
}
.bottom-logo-caption{
	padding-bottom: 0;
}



.kopa-area-5 .ct-icon-4{
	width: 45px;
	height: 45px;
	line-height: 43px;
	font-size: 20px;
}

.millside-module-action-2{
	.entry-title{
		font-size: 18px;
		line-height: 20px;
		margin-top: 18px;
		margin-bottom: 23px;
	}
	p{
		font-size: 14px;
		line-height: 23px;
	}
}
.millside-module-action-2 ul li{
	padding: 0 50px;
}
.bottom-sidebar-2 .millside-module-bottom-logo-2{
	margin: 0 10px;
}
.bottom-sidebar-2 .millside-module-mail{
	margin: 0;
}


.slider-pro-2 .sp-buttons{
	display: none;
}

.kopa-area-8 .millside-module-event-10 .widget-title, .kopa-area-8 .millside-module-event-10 .entry-title{
	font-style: italic;
}
.millside-module-article-list-8 .ct-item-7{
	.entry-content{
		padding-left: 20px;
		padding-right: 20px;
		> p{
			display: none;
		}
		.more-link{
			position: absolute;
			bottom: 10px;
			right: 30px;
		}
	}
	.entry-thumb{
		width: 215px;		
	}
}


.slider-pro-7{
	padding: 25px;
	.sp-thumbnails-container{
		margin-top: 25px;
		margin-bottom: 25px;
		padding-left: 25px;
		.sp-thumbnails{
			.sp-thumbnail-container{
				margin-bottom: 25px;        
				.sp-thumbnail{
					padding-right: 25px;
				}
			}
		}
	}
}
.kopa-page-header-4 .header-bottom .header-left .nav-4 ul li{margin-right: 30px;}
.owl-carousel-5 .owl-prev{left: -82px;}
.owl-carousel-5 .owl-next{right: -82px;}
.kopa-area-61 .widget-title{display: none}
.kopa-area-61{padding: 30px 0 60px}
.kopa-area-61 > .container > .row .widget{margin-bottom: 30px;}
.kopa-area-61 .millside-module-ads-5{margin-top: 0}
.millside-module-article-list-9{
	ul{
		margin-left: -12.5px!important;
		margin-right: -12.5px!important;
		li{
			padding: 0 12.5px;
		}
	}
}
.owl-carousel-5 .item{margin: 0 12.5px;}
}

/*___________________________________________________________________________________*/


@media screen and (max-width: 1023px) {

 	//home 2
 	.kopa-area-6 .millside-module-intro-15{
 		margin: 45px 40px;
 	}

	//home 4
	.ct-item-7{
		.entry-thumb{
			width: 210px;
		}
		.entry-content{
			>p{
				display: none;
			}
		}
	}

	.owl-carousel-5 .owl-prev{
		left: -50px;
	}
	.owl-carousel-5 .owl-next{
		right: -50px;
	}





}


@media screen and (max-width: 991px){
	.millside-module-event-11 .widget-content > ul > li{border-left: none}
	.kopa-area-9 .part-02{padding-left: 15px;}
	.kopa-area-10 .bg-green .kopa-breadcrumb .breadcrumb-content{
		margin-left: 43%;
	}
	.owl-carousel-4 .owl-prev, .owl-carousel-4 .owl-next, .owl-carousel-4 button{
		top: 335px;
	}

	.ct-item-2 .entry-thumb, .ct-item-3 .entry-thumb, .millside-module-article-list-6 .entry-thumb, .millside-module-article-list-1 ul li .entry-item .entry-thumb, 
	.millside-module-article-list-2 ul li .entry-thumb, .millside-module-intro-12 .entry-thumb,
	.millside-module-intro-5 .entry-thumb, .millside-module-event-5 .entry-thumb{
		float: none;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
		margin-bottom: 20px;
	}

	.slider-pro-5 .sp-caption-container{
		font-size: 18px;
	}
}

/*___________________________________________________________________________________*/

@media screen and (max-width: 979px) {
//Home 2

.kopa-page-header-2 .main-nav{
	display: none;
}
.kopa-page-header-2 .hamburger-menu{
	display: inline;
}
.kopa-page-header-2 .search-box{
	margin-top: 25px;
}

.kopa-page-header-2 .preSearch{
	display: inline;
}
.kopa-page-header-2 .kopa-logo{
	margin-left: -46px;
	margin-right: -46px;
	padding: 27px 20px 27px 21px;
}
.kopa-page-header-2{
	background: #fdfffd;
}
.millside-module-action-2 ul li{
	padding: 0 20px;
}
.kopa-area-5 .millside-module-action-2 .entry-title + p{
	display: none;
}
.millside-module-action-2{
	.entry-title{
		font-size: 14px;		
		margin-top: 18px;		
	}	
}
.kopa-area-5{
	padding: 40px 0 20px 0;
}

//home3
.kopa-area-9 > .container{
	background: transparent;
}
.kopa-area-8 > div{
	padding-bottom: 30px;
}
.kopa-area-9 .millside-module-ads-3, .kopa-area-9 .millside-module-slider-3{
	margin-right: 0;
}
.owl-carousel-3 .part-1 p:nth-of-type(1){
	margin-top: 60px;
}
.owl-carousel-3 .part-2 p:nth-of-type(1){
	margin-top: 90px;
}

.kopa-area-9 .millside-module-table-2{
	margin-left: 0;
	margin-right: 0;
}

.millside-module-ads-5 .widget-content .bg-green-2{
	padding: 22px 0;
}
.millside-module-ads-5 .part-1 p:nth-of-type(2){
	font-size: 36px;
}
.millside-module-ads-5 .part-2 .icon-weather + div p:nth-of-type(1){
	font-size: 18px;
}
.millside-module-ads-5 .part-2 .icon-weather + div p:last-child{
	font-size: 14px;
}
//home4

.owl-carousel-4 button{
	top: 275px;
	padding: 0 20px;
}
.owl-carousel-4 .owl-prev, .owl-carousel-4 .owl-next{
	top: 320px;
}



.entry-title.style-01{
	font-size: 32px;
	line-height: 42px;
}

.bottom-logo{
	margin-top: 50px;
}




.widget-title.style-01{
	font-size: 24px;
}
.widget-title.style-02{
	font-size: 18px;
}
.kopa-area-6 .millside-module-intro-15, .millside-module-promo-1 p{
	font-size: 14px;
}

.bottom-sidebar-2 .millside-module-bottom-logo-2{
	margin: 0 34px;
}
.widget-title.style-08{
	font-size: 28px;
	line-height: 36px;
}
.kopa-area-61 .millside-module-ads-5 .part-2 .icon-weather{
	margin-left: 0;
	margin-right: 20px;
}
.kopa-area-61{padding: 20px 0 40px}
.kopa-area-61 > .container > .row .widget{margin-bottom: 20px;}
.millside-module-article-list-9{
	ul{
		margin-left: -10px!important;
		margin-right: -10px!important;
		margin-top: -20px!important;
		li{
			padding: 0 10px;
			margin-top: 20px;
		}
	}
}
.owl-carousel-5 .item{margin: 0 10px;}
.millside-module-article-list-8{
	ul{
		margin-top: -20px!important;
		li{
			margin-top: 20px;
		}
	}
}
.slider-pro-7{
	padding: 20px;
	.sp-thumbnails-container{
		margin-top: 20px;
		margin-bottom: 20px;
		padding-left: 20px;
		.sp-thumbnails{
			.sp-thumbnail-container{
				margin-bottom: 20px;        
				.sp-thumbnail{
					padding-right: 20px;
				}
			}
		}
	}
}
.slider-pro-6 .sp-thumbnail-text {
	margin-top: 4px;
}
.widget-title.style-18{font-size: 26px;}
.millside-module-calendar-2 #wp-calendar th{
	display: none;
}
.millside-module-calendar-2 #wp-calendar td{
	display: block;
}

}

/*___________________________________________________________________________________*/

@media screen and (max-width: 799px) {
	.mobile-main-nav.style-02 {
		top: 83px;
	}

}

/*___________________________________________________________________________________*/

@media screen and (max-width: 767px) {
	.slider-pro p.sp-layer.sp-txt-5{display: none}
	.sp-video-title{display: none}
	.ct-row-8 .col-xs-12{width: 50%}
	.millside-module-event-12 .widget-content > ul > li{border-left: none}
	.header-top-left{
		display: none;
	}
	.member-1{
		display: inline;
	}

	.slide-area .kopa-scroll.style-01{
		display: none;
	}

	.millside-module-intro-1 ul li p{
		font-size: 15px;
	}
	.ct-icon-1 {

		width: 55px;
		height: 55px;
		line-height: 51px;
	}
	.millside-module-intro-1 ul li:first-child:before{
		left: 27.5px;
	}
	.millside-module-intro-1 ul li:after{
		left: 27.5px;
	}
	.millside-module-intro-2 .entry-icon{
		margin-right: 20px;
		margin-left: -27.5px;
	}
	.millside-module-intro-1 .entry-icon{
		margin-right: 20px;
	}
	.millside-module-intro-1 ul li:after, .millside-module-intro-2 ul li:after{
		top: 55px;
		height: calc(100% - 55px);
	}


	.millside-module-tab .nav-tabs > li{
		border-left: none;
		
		padding-top: 15px;
		padding-bottom: 15px;
		position: relative;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			width: 80px;
			height: 1px;
			border-top: 1px dashed $cl-010;
			@include translateX(-50%);
		}
		&:first-child:before{
			display: none;
		}
	}

	.millside-module-tab .tab-thumb{
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
		width: 100%;
	}

	.millside-module-intro-2 ul li:first-child:before, .millside-module-intro-2 ul li:after{
		left: 42.5px;
	}
	.millside-module-intro-1 ul li:last-child:after{
		display: inline;
	}
	.millside-module-intro-2 .entry-icon{
		margin-left: 14.5px;
	}
	.millside-module-intro-1{
		margin-right: 0;
	}


//Home 2

.kopa-page-header-2 .main-nav{
	display: none;
}
.kopa-area-5 .millside-module-action-2{
	.entry-thumb{
		float: left;
		margin-right: 20px;
	}
	.entry-content{
		float: left;

	}
}

//home3

.kopa-area-9 .millside-module-form-10, .kopa-area-55 .millside-module-form-10, .kopa-area-70 .millside-module-form-10{
	margin-top: 60px;
}
.kopa-page-footer-3 .row >div:last-child{
	text-align: center;
	margin-top: 20px;
}
.kopa-area-7 .container .row >div:last-child{
	margin-top: 60px;
}

.owl-carousel-3 .part-1 p:nth-of-type(1){
	margin-top: 34px;
}
.owl-carousel-3 .part-2 p:nth-of-type(1){
	margin-top: 68px;
}
.kopa-area-9 .millside-module-form-10{
	margin-right: 0!important;
}


.millside-module-ads-5 .widget-content .bg-green-2{
	background: $color-001;
	.part-1, .part-2{
		background: $color-001;
	}
	.part-1{
		padding-bottom: 10px;
	}
	.part-2{

		margin-left: 0;
		position: relative;
		padding-bottom: 20px;
		.icon-weather{
			position: absolute;
			top: -25px;
			right: 25px;
		}
	}
}
.millside-module-ads-5{
	margin-bottom: 80px!important;
}


.kopa-area-18 .bg-green h3, .kopa-area-10 .bg-green .kopa-breadcrumb h3{
	font-size: 40px;
}


.sub-page .sidebar{
	margin-top: 0;
}

.kopa-area-10 .bg-green .kopa-breadcrumb .breadcrumb-content{
	margin-left: 0;
}


.millside-module-tab-2 .tab-pane .tab-content-detail > div:nth-child(2){
	margin: 0;
	padding: 0 15px;

}

.millside-module-tab-2 .tab-pane .tab-content-detail > div{
	border-top: none;
}
.millside-module-tab-2 .tab-pane .tab-content-detail > div:nth-child(2) > div:first-child{
	border-top: 1px solid $cl-004;
}
.millside-module-tab-2 .tab-pane .tab-content-detail > div:nth-child(2) > div:last-child{
	border-bottom: 1px solid $cl-004;
}
.millside-module-tab-2 .tab-pane .tab-content-detail > div:last-child{
	padding: 5px 20px;
	border-left: none;
	img{
		width: 100%;
	}
}

.owl-carousel-4 .owl-prev, .owl-carousel-4 .owl-next, .owl-carousel-4 button{
	top: 480px;
}

.main-col, .sidebar{
	margin-top: 60px;
}
.golfer-404{
	display:none;
}

.kopa-social-links.style-02{
	ul{
		border: none;
		li{
			width: 50%;
			padding: 20px 0;
			text-align: left;
			border: none;
		}
	}
}



.woocommerce div.product{
	div.images{
		width: 100%;
		float: none;
		display: block;
		margin-bottom: 50px;
	}

	div.summary{
		float: none;
		width: 100%;
		margin-top: 50px;
		display: block;
		overflow: hidden;
	}
}


.millside-module-intro-2 ul li:first-child{
	margin-top: 30px;
}

.ct-item-03 .entry-thumb{
	float: left;
	width: 170px;
	margin-bottom: 0;
	margin-right: 20px;
}

}





/*___________________________________________________________________________________*/

@media screen and (max-width: 639px) {
	.slider-pro p.sp-layer.sp-link-1 a{
		font-size: 22px;
		padding: 0 40px;
	}
	.slider-pro-7 .sp-thumbnails-container{
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}
	.slider-pro p.sp-layer.sp-link-3 a{
		font-size: 22px;
		padding: 0 40px;
	}
	.slider-pro-7 .sp-thumbnail-image-container:after{
		width: 25px;
		height: 25px;
		line-height: 25px;
		font-size: 12px!important;

	}
	.slider-pro-7 .sp-thumbnails-container{
		margin-bottom: 0;
	}
	.slider-pro-6 .sp-thumbnails-container{
		margin-bottom: 0;
	}
	.kopa-menu-3{
		width: 100%;
		top: 0;
		left: 0;
	}

	.kopa-page-header-1 .search-box{
		form{
			display: none;
		}
		.preSearch{
			display: inline;
		}
	}
	.preSearch+form{
		position: absolute;
		top: 71px;
		right: 0;
		z-index: 9999;
		.search-input{
			border-radius: 0;
		}
	}
	.millside-module-intro-1{
		margin-right: 0px;
	}
	.millside-module-intro-2{
		margin-left: 0;
		.entry-icon{

			margin-left: 0px;
		}
	}

	.millside-module-intro-2 ul li:first-child:before, .millside-module-intro-2 ul li:after{
		left: 27.5px;
	}
	.millside-module-intro-1 ul li:last-child:after{
		display: inline;
	}
	.bottom-sidebar{
		margin-top: 40px;
	}


	//home2
	.kopa-area-5{
		padding: 40px 0 15px 0;
	}
	.millside-module-action-2 ul{
		li{
			margin-top: 20px;
		}
	}
	.kopa-area-5 .millside-module-action-2{
		.entry-thumb{
			margin-right: 10px;
			.ct-icon-4{
				width: 35px;
				height: 35px;
				line-height: 32px;
				font-size: 14px;

			}
		}
		.entry-content{
			.entry-title.style-02{
				font-size: 11px;
				margin-top: 5px;
				margin-bottom: 0;
			}

		}
	}
	.kopa-area-4 .millside-module-intro-14, .kopa-area-6 .millside-module-intro-15{
		margin: 30px 30px;
	}

	.millside-module-bottom-menu-2 .menu-xs{
		display: block;
	}
	.millside-module-bottom-menu-2 nav{
		display: none;
	}

	.owl-carousel-3 .part-1 p:nth-of-type(1){
		margin-top: 2px;
		font-size: 14px;
		margin-bottom: 2px;
	}
	.owl-carousel-3 .part-2 p:nth-of-type(1){
		margin-top: 26px;
		font-size: 50px;
		margin-bottom: 18px;
	}
	.owl-carousel-3 .part-1 p:nth-of-type(2){
		font-size: 30px;
		margin-bottom: 2px;
		padding: 8px 12px;
	}
	.owl-carousel-3 .owl-prev{
		left: 0;
	}
	.owl-carousel-3 .owl-next{
		right: 0;
	}


	.slide-area-3 .millside-module-banner-3 {
		position: absolute;
		top: 0;
		left: 40px;
		width: 240px;
		height: 100%;
		img{
			width: 40%;
			margin-top: 55px;
		}
	}
	.millside-module-banner-3 p:nth-of-type(1){
		font-size: 22px;
	}

	.slide-area-3{
		padding: 20px 20px 0;
	}
	.slide-area-3:after{
		width: 20px;
	}
	.navibar{
		right: 20px;
	}
	.millside-module-banner-3 p:nth-of-type(3){
		font-size: 33px;
	}
	.millside-module-banner-3 p:nth-of-type(4){
		font-size: 20px;
	}


	.millside-module-ads-5{
		margin-bottom: 140px!important;
	}
	.kopa-area-18 .bg-green h3, .kopa-area-10 .bg-green .kopa-breadcrumb h3{
		font-size: 32px;
	}

	.kopa-area-18 .bg-green.style-05, .kopa-area-18 .bg-green.style-06{
		height: calc(100% - 100px)!important;
	}

	.owl-carousel-4 .owl-prev, .owl-carousel-4 .owl-next, .owl-carousel-4 button{
		top:340px;
	}


	.millside-module-bottom-menu{
		text-align: center;
		.widget-content ul li{
			float: none;
			margin-right: 0;
			display: block;
			line-height: 30px;
		}
	}

	.bottom-logo{
		float: none;		
		width: 100%;
		img{
			float: none;
			width: 70px;
		}	
		.bottom-logo-title{
			float: none;
			font-size: 24px;
			line-height: 30px;
			margin-top: 15px;
		}	
	}
	.bottom-logo-caption{
		float: none;		
		width: 100%;
		text-align: center;
		padding-left: 0;
		&:before{
			display: none;
		}
	}

	.slider-pro-5:before{display: none}
	.slider-pro-5 .sp-caption-container {
		height: 45px;
		line-height: 45px;
		font-size: 16px;
		margin-top: 0px;
	}

}

/*___________________________________________________________________________________*/

@media screen and (max-width: 479px) {
	.slider-pro-4 .sp-thumbnails-container{display: none}
	.slider-pro p.sp-layer.sp-link-1 a, .slider-pro p.sp-layer.sp-link-3 a{
		font-size: 30px;
		padding: 0 35px;
		height: 70px;
		line-height: 70px;
	}
	.slider-pro p.sp-layer.sp-txt-3{display: none!important}
	.ct-row-8 .col-xs-12{width: 100%}
	.mobile-main-nav.style-02 {
		top: 90px;
	}

	.millside-module-bottom-logo{
		text-align: center;
		.bottom-logo{
			float: none;
			margin-right: 0;
		}
	}

	.kopa-page-header-1 .hamburger-menu{
		margin-right: 20px;
	}
	//home2
	.kopa-page-header-2 .kopa-logo{
		background: transparent;
	}
	.kopa-area-4 .millside-module-intro-14, .kopa-area-6 .millside-module-intro-15{
		margin: 30px 10px;
	}
	.kopa-area-5 .millside-module-action-2{
		.entry-content{
			.entry-title.style-02{
				font-size: 12px;

			}

		}
	}

	.owl-carousel-3 .part-1 p:nth-of-type(1){
		margin-top: 0px;
		font-size: 12px;
		margin-bottom: 0px;
	}
	.owl-carousel-3 .part-2 p:nth-of-type(1){
		margin-top: 14px;
		font-size: 35px;
		margin-bottom: 4px;
	}
	.owl-carousel-3 .part-1 p:nth-of-type(2){
		font-size: 20px;
		margin-bottom: 0px;
		padding: 0px 4px;
	}
	.owl-carousel-3 .part-2 p:nth-of-type(1) span{
		font-size: 22px;
	}
	.millside-module-contact-2 .widget-content > .row > div:first-child{
		display: none;
	}

	.nav-btn-02, .nav-btn-03, .nav-btn-04{
		display: none;
	}

	//home4
	.millside-module-sign-up{
		.mail-submit{
			position: static;
			width: 100%;
		}

	}
	.millside-module-sign-up .enter-mail .mail-input{
		padding-right: 25px;
	}

	.owl-carousel-5 .owl-prev{
		left: -25px;
	}
	.owl-carousel-5 .owl-next{
		right: -25px;
	}

	.ct-item-7{
		.entry-thumb{
			width: 110px;
			margin-right: 5px;
		}
		.entry-content{
			padding: 2px;
			.more-link{
				margin-right: 0!important;
			}
		}
	}

	.ct-item-9{
		.entry-thumb{
			width: 100%;
			margin-right: 0px;
			float: none;
		}
		.entry-content{
			padding: 10px;
			.more-link{
				margin-right: 0!important;
			}
		}
	}


	.kopa-page-header-4 img{
		max-width: 60%;
	}


	.millside-module-ads-5{
		margin-bottom: 180px!important;
	}
	.kopa-area-18 .bg-green h3, .kopa-area-10 .bg-green .kopa-breadcrumb h3{
		font-size: 26px;
	}
	.kopa-area-10 .bg-green .kopa-breadcrumb .breadcrumb-content{
		bottom: 0px;
	}

	.owl-carousel-4 button{
		top: 280px;
		padding: 0 10px;
	}


	.millside-module-event-2 .entry-thumb, .ct-item-20 .entry-thumb{
		float: none;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
		margin-bottom: 20px;
	}
	.kopa-pagination .page-number.prev, .kopa-pagination .page-number.next{
		width: 50px;
	}

	.tab-area.style-01{
		.nav-tabs{
			li{
				display: block;
				float: none!important;

				a{
					display: block;

					text-align: center;
				}
			}
		}
	}
	.tab-area.style-02{
		.nav-tabs{
			float: none;
			width: 100%;
			li{
				display: block;
				float: none;
			}
		}
	}

	.kopa-area-2 .millside-module-tab, .kopa-area-2 .millside-module-event-1{
		margin-bottom: 45px!important;
	}
	.millside-module-tab{
		padding-bottom: 0px;
	}
	.kopa-area-3{
		padding: 76px 0 60px 0;
	}
	.bottom-sidebar{
		margin-top: 0;
	}
	.millside-module-bottom-logo .bottom-logo{
		margin-top: 20px;
	}

	.widget-title.style-10{
		font-size: 24px;
	}
	.kopa-page-header-4 .header-top{
		padding-top: 22px;
		padding-bottom: 22px;
	}
	.kopa-page-header-4 .header-bottom, .kopa-page-header-4 .header-bottom .header-left .hamburger-menu, .search-box-3 .preSearch-4 span{
		height: 50px;
		line-height: 50px;
	}
	.kopa-page-header-4 .header-bottom .header-left .hamburger-menu{
		padding-top: 17px;
		margin-left: 20px;
	}
	.search-box-3{
		margin-right: 15px;
	}
	.slider-pro-5 .sp-arrow, .slider-pro-5 .sp-arrow span{
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	
	.slider-pro-5:before{
		bottom: 28px;
		height: 38px;
		width: calc(100% - 60px);
		left: 30px;
		z-index: 99;
	}
	.slider-pro-5 .sp-slides-container{
		z-index: 10;
	}
	.slider-pro-5 .sp-caption-container{
		
		height: 68px;
		width: calc(100% - 60px);
		margin-left: 30px;
		z-index: 999!important;
		line-height: 34px;
		opacity: 1px;
		
	}

	.millside-module-article-list-8{
		.ct-item-7{
			.entry-thumb{
				width: 100px;
			}
			.entry-content{
				padding: 10px 8px;				
				max-height: 96px;
				overflow: hidden;
			}
			.more-link{
				display: none;
			}
		}
	}
	.kopa-area-61 .widget-title{
		display: block;
		font-size: 15px;
		line-height: 60px;
		text-align: center;
		margin-bottom: 0;
		&:after{
			display: none;
		}
	}
	.kopa-area-61 > .container > .row .widget{
		margin-bottom: 0;
	}
	.widget-title.style-16{
		font-size: 24px;
	}
	.owl-carousel-5 .item{
		margin: 0 18px;
	}
	.millside-module-ads-5 {
		margin-bottom: 160px !important;
		margin-top: 20px!important;
	}
	.entry-title.style-08{
		font-size: 20px;
	}

	.ct-item-03 .entry-thumb{
		float: none;
		width: 100%;
		margin-bottom: 25px;
		margin-right: 0;
	}
	.slider-pro-5 .sp-caption-container{
		height: 30px;
	}
}

/*___________________________________________________________________________________*/

@media screen and (max-width: 359px) {
	.slide-area-3 .millside-module-banner-3 img{
		margin-top: 0;
	}
	.millside-module-tab-3 .tab-content .tab-pane ul li{width: 100%}
	.woocommerce .woocommerce-tabs ul li a{
		padding: 0 35px!important;
	}
	.woocommerce div.product .cart .single_add_to_cart_button{
		padding: 0 30px;
	}
	.woocommerce div.product .product_title {
		font-size: 22px;
		line-height: 25px;
	}

	.slider-pro p.sp-layer.sp-link-3 a{
		font-size: 40px;
		padding: 0 40px;
		height: 80px;
		line-height: 80px;
	}
	.mobile-main-nav.style-04{
		width: 300px!important;
	}
	.widget-title.style-09 {
		font-size: 28px;
		line-height: 34px;
	}
	.mobile-main-nav-2 .mobile-main-menu > li{width: 230px;}
	.mobile-main-nav-2 a{ font-size: 14px;}
	.mobile-main-nav.style-02 {
		top: 81px;
	}
	.preSearch+form{
		top: 46px;
	}
	.mobile-main-nav{
		top: 50px;
		left: 5px;
	}
	.kopa-area-18 .bg-green h3, .kopa-area-10 .bg-green .kopa-breadcrumb h3{
		font-size: 18px;
	}
	.owl-carousel-4 .owl-prev, .owl-carousel-4 .owl-next{
		top: 330px;
	}

	.entry-title.style-01, .widget-title.style-07{
		font-size: 24px;
		line-height: 32px;
	}
	.kopa-area-1{
		background: $color-hover;
	}
	.ct-icon-1{
		border-color: $color-002;
	}
	.millside-module-intro-1 ul li:first-child:before, .millside-module-intro-2 ul li:first-child:before,
	.millside-module-intro-1 ul li:after, .millside-module-intro-2 ul li:after{
		background: $color-002;
	}
	.millside-module-intro-1 ul li:first-child:before, .millside-module-intro-2 ul li:first-child:before{
		height: 45px;
		top: -45px;
	}
	
	.kopa-page-header-1 .header-bottom{
		padding: 0;
		height: 50px;
		line-height: 48px;
	}
	.kopa-page-header-1 .hamburger-menu{
		color: $cl-001;
		background: $color-primary;
		height: 50px;
		line-height: 50px;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: -10px;
		width: 50px;
		text-align: center;
		margin-right: 0px;
		font-size: 25px;
		&:hover{
			color: $color-hover;
		}
	}
	.kopa-page-header-1 .kopa-logo{
		max-width: 126px;
		margin-left: 44px;
		float: left;
	}
	.kopa-page-header-1 .header-top{
		height: 30px;


		.header-top-right a{
			font-size: 13px;
			margin-left: 15px;
			line-height: 42px;

		}
	}
	.kopa-page-header-1 .header-top .header-top-right .cart span:last-child{
		min-width: 40px;
		height: 40px;
	}
	.kopa-page-header-1 .header-top .header-top-right{
		margin-top: -6px;
		margin-bottom: 0px;
		height: 30px;
	}
	.kopa-page-header-1 .search-box .preSearch{
		margin-right: 4px;
	}
	.kopa-area-1{
		padding: 45px 0;
	}
	.kopa-area-2 > .container{
		margin: 0;
		width: 100%;
	}

	.millside-module-tab .tab-title{
		font-size: 24px;
		line-height: 30px;
	}
	.millside-module-tab, .millside-module-event-1{
		padding-left: 10px;
		padding-right: 10px;
	}



	.widget-title.style-02{
		font-size: 15px;
	}
	.millside-module-intro-15{
		.widget-title.style-02{
			margin-bottom: 0;
		}
		p{
			margin-bottom: 10px;
		}
	}

	.widget-title.style-01{
		font-size: 14px;
		line-height: 24px;
	}
	.millside-module-promo-1 p{
		display: none;
	}
	.kopa-area-6 .millside-module-promo-1{
		margin: 20px 0!important;
	}
	.millside-module-bottom-logo-2 .widget-content img{
		max-width: 103px;
	}
	.bottom-sidebar-2 .millside-module-bottom-logo-2{
		margin-right: 70px;
		margin-left: 70px;
		max-height: 130px;
		padding-top: 30%;
		padding-bottom: 23px;
	}
	.kopa-page-header-2 .preSearch{
		margin-right: 10px;
	}
	.kopa-page-header-2 .hamburger-menu{
		margin-left: 10px;
	}
	.widget-title.style-08{
		font-size: 15px;
	}
	.millside-module-intro-14{
		.widget-sub-title{
			font-size: 12px;
			margin-bottom: 0!important;
			img{
				width: 15px;
			}
		}
		.widget-title{
			margin-bottom: 0;
		}
	}
	.kopa-page-header-1 .header-top .header-top-right .cart span:first-child{font-size: 13px;}
	.millside-module-booking .kopa-contents{margin: 0;}
	.kopa-area-18 .bg-green.style-06{height: calc(100% - 122px) !important;}
	.widget-title.style-18{font-size: 24px;}
	.kopa-area-10 .bg-green .kopa-breadcrumb .breadcrumb-content{height: 19px; bottom: 3px;}
}




@media screen and (min-width: 1161px) and (max-width: 1199px){
	.owl-carousel-3.style-03 .part-1 p:nth-of-type(2) {
		font-size: 30px;
		font-style: normal;
		padding: 5px 0;
	}

}
@media screen and (min-width: 1024px) and (max-width: 1160px){
	.owl-carousel-3.style-03 .part-1 p:nth-of-type(2){
		font-size: 29px;
	}
	.owl-carousel-3 .part-1 p:nth-of-type(2){
		padding: 5px 0;
	}
	.owl-carousel-3.style-03 .part-1 p:nth-of-type(1){
		font-size: 14px;
		margin-top: 8px;

	}
	.owl-carousel-3 .part-2 p:nth-of-type(1){
		margin-top: 30px;
	}

}

@media screen  and (min-width: 992px) and (max-width: 1023px){
	.owl-carousel-3.style-03 .part-1 p:nth-of-type(2){
		padding: 3px 0;
	}
	.owl-carousel-3 .part-2 p:nth-of-type(1){
		margin-top: 21px;
	}
	.owl-carousel-3.style-03 .part-1 p:nth-of-type(1) {
		font-size: 11px;
		margin-top: 0px;
		margin-bottom: 0;
	}
	.owl-carousel-3.style-03 .part-1 p:nth-of-type(2){
		font-size: 20px;
		margin-bottom: 0;
	}
	.owl-carousel-3.style-03 .part-2 p:nth-of-type(1){
		font-size: 50px;
		margin-bottom: 10px;
		+p{
			font-size: 12px;
		}
	}
}


@media screen  and (min-width: 1367px){
	.slide-area-3{
		width: 1170px;
		margin: auto;
		padding-left: 0;
		padding-right: 0;
		&:after{
			display: none;
		}
	}
	.navibar{right: 0}
	.kopa-menu-3{
		width: 100%;
		left: 0;
	}

	.kopa-area-4 > div, .kopa-area-6 > div{
		width: 1366px;
		margin: auto!important;
	}
}
