@import "sass/style-sass";


/**
 *
 *
 
1.2.1 Default Structure Tag

1.2.2 Basic Structure Class

1.2.3 Custom Layout 

1.2.4 Default Article 

1.2.5 Default Widget

1.2.6 Elements
 
 
 *  
 **/
 
 /*___________ 1.2.1 Default Structure Tag ___________*/


 h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: $font-primary;
    color: $color-primary;
    font-weight: 400;
    display: block;
    margin: 0 0 15px;
}

h1,
.h1 {
    font-size: 36px;
    line-height: 44px;
}

h2,
.h2 {
    font-size: 28px;
    line-height: 36px;
}

h3,
.h3 {
    font-size: 24px;
    line-height: 32px;
}

h4,
.h4 {
    font-size: 20px;
    line-height: 28px;
}

h5,
.h5 {
    font-size: 18px;
    line-height: 26px;
}

h6,
.h6 {
    font-size: 16px;
    line-height: 24px;
}

a {
    color: $color-primary;
    @extend %transition;
    text-decoration: none !important;
    outline: none !important;
    &:hover,
    &:focus,
    &.active {
        @extend %main_color;
    }
}

ol {
    counter-reset: item;
    display: block;
    margin: 5px 0;
    padding: 0 0 0 40px;
}

ul {
    list-style: square;
    margin: 5px 0px;
    padding: 0 0 0 10px;
}

ul li {
    list-style: inside square;
    margin-bottom: 10px;
}

ul li > ol > li {
    list-style: inside decimal;
}

ol li ol li,
ul li ol li ol li {
    list-style: lower-alpha inside none;
}

ol li {
    list-style: inside decimal;
    margin-bottom: 10px;
}

ol li > ul,
ul li > ol {
    margin-top: 10px;
    margin-left: 10px;
}

ol li > ul > li {
    list-style: inside square;
}

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
    height: auto;
}

input, select, button {
    outline: none !important;
    box-shadow: none !important;
    @extend %transition;
}

p.reset {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

cite,
em,
var,
address,
dfn {
    font-style: italic;
}

i {
    font-style: normal;
}

p {
    i {
        font-style: italic;
    }
}

iframe {
    border: none;
    width: 100%;
}

blockquote{
    border-left: 0px;
}

::-webkit-input-placeholder {
    color: $color-secondary;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $color-secondary;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $color-secondary;
}

:-ms-input-placeholder {
    color: $color-secondary;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $font-secondary;
    @extend %text_format;
    font-weight: 300;
    color: $color-secondary;
    background: $cl-001;
    overflow: hidden;
}

/*___________ 1.2.2 Basic Structure Class ___________*/
.full-width{
    width: 100%;
}
.i{
    font-style: italic;
}
.clear{
    clear: both;
}
.hidden{
    display: none;
}
.font-2{
    font-family: $font-secondary!important;
}
/*--- layout ---*/

.kopa-pull-left{
    float: left;
}
.kopa-pull-right{
    float: right;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.wp-caption.alignleft,
img.alignleft {
    margin: 5px 30px 15px 0;
}

.wp-caption.alignleft {
    margin: 5px 10px 5px 0;
}

figure.wp-caption.alignright,
img.alignright {
    margin: 5px 0 5px 30px;
}

.wp-caption.alignright {
    margin: 5px 0 5px 10px;
}

img.aligncenter {
    margin: 5px auto;
}

img.alignnone {
    margin: 5px 0;
}

.entry-box .entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
    max-width: 100%;
    height: auto;
}

.entry-box .entry-content address {
    font-style: italic;
}

.text-hover {
    @extend %main_color;
}

.text-light {
    font-weight: 300;
}

.txt-up {
    text-transform: uppercase;
}

.txt-cap {
    text-transform: capitalize;
}

.txt-main-color {
    @extend %main_color;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    @extend %clearfix;
    @media screen and (max-width: 1160px) {
        width: 940px;
    }
    @media screen and (max-width: 1023px) {
        width: 780px;
    }
    @media screen and (max-width: 979px) {
        width: 708px;
    }
    @media screen and (max-width: 799px) {
        width: 708px;
    }
    @media screen and (max-width: 767px) {
        width: 620px;
    }
    @media screen and (max-width: 639px) {
        width: 460px;
    }
    @media screen and (max-width: 479px) {
        width: 340px;
    }
    @media screen and (max-width: 359px) {
        width: 300px;
    }

}

.clearfix{
    @extend %clearfix;
}

/*------*/

.kopa-area {
    @extend %clearfix;
    padding: 80px 0;
    position: relative;
    > .container {
        position: relative;
        z-index: 9; 
        > .row{
            .widget {
                margin-bottom: 80px;
            }
            &:last-child {
                .widget {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .widget {
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 639px){
        padding: 40px 0;
        > .container {
            > .row{
                .widget {
                    margin-bottom: 40px;
                }
                &:last-child {
                    .widget {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .widget {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
} 

.kopa-area-no-space{
    padding: 0;
    overflow: hidden;
}


.white-text-style {
    color: $cl-001;
    .widget-title, span, p, a, h1, h2, h3, h4, h5, h6, input, textarea {
        color: $cl-001;
    }
    p, span{
        color: $cl-007;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        a {
            color: $cl-001;
            @include opacity(1);
            &:hover {
                color: $cl-001;
                @include opacity(0.7);
            }
        }
    }
    a:hover{
        @extend %main_color;
        span{
            @extend %main_color;
        }
    }
    .bottom-sidebar-2 a{
        color: $cl-001!important;
    }
}

.dark-text-style{
    color: $color-secondary;
    .widget-title,
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a {
        color: $color-primary;
    }
    span, p, input, textarea{
        color: $color-secondary;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        a {
            color: $color-primary;
            @include opacity(1);
            &:hover {
                @extend %main_color;
            }
        }
    }
    a:hover{
        @extend %main_color;
        span{
            @extend %main_color;
        }
    }
}


/*___________ 1.2.4 Default Article ___________*/

.entry-item {
    position: relative;
    @extend %clearfix;
    .entry-content {}
}

.entry-title {
    font-family: $font-primary;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}
.entry-title.style-01{
    font-size: 46px;
    font-style: italic;
    line-height: 50px;  
}

.entry-title.style-02{
  font-style: italic;
  font-size: 24px;
}
.entry-title.style-03{
 font-style: italic;
 font-size: 16px;
}
.entry-title.style-04{
    @extend .widget-title.style-06;
    margin-bottom: 25px!important;

}
.entry-title.style-05{
 font-size: 18px;
 font-weight: normal;
 a{
   color: $color-001;
   &:hover{
    color: $cl-009;
}
}
}
.entry-title.style-06{
    @extend .widget-title.style-06;
    a{
        @extend %maini_color;
        &:hover{
            color: $color-primary!important;
        }
    }
}
.entry-title.style-07{
    font-size: 18px;
    @extend %main_bg_color;
    @extend .white-text-style;
    padding: 13px 20px;
}
.entry-title.style-08{
  @extend .entry-title.style-05;
  font-size: 36px;
  line-height: 1.1;
  font-weight: normal;
  margin-top: 2px;
}
.entry-title.style-09{
    font-size: 14px;
    font-weight: normal;
}
.entry-title.style-10{
    font-size: 18px;
    @extend %main_color;
}
.entry-title.style-11{
  @extend .entry-title.style-05;
  font-size: 34px;
  line-height: 1.1;
  font-weight: normal;
  margin-top: 2px;
}
.entry-title.style-12{
    font-size: 15px;
    a{
       @extend %maini_color;
       @extend %transition;
       &:hover{
        color: $cl-003!important;
    }
}
}
.entry-title.style-13{
    font-size: 18px;
}
.entry-title.style-14{
    font-size: 24px;
}
.entry-title.style-15{
    font-size: 15px;
    font-family: $font-primary;
    font-weight: bold;
}
.entry-title.style-16{
  font-size: 14px;
  display: inline-block;
  position: relative;
  font-family: $font-primary;
  &:after{
    content: "";
    position: absolute;
    top: 10%;
    right: -10px;
    width: 1px;
    height: 80%;
    @extend %main_bg_color;

}
}
.entry-title.style-17{
    font-size: 14px;
    font-family: $font-primary;
    font-weight: bold;
}

.entry-title.style-18{
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;

}
.entry-title.style-19{
    font-size: 80px;
    font-weight: bold;
    line-height: 50px;
}
.entry-title.style-20{
    font-size: 15px;
    font-family: $font-primary;
}
.entry-title.style-21{
    font-size: 15px;
    font-family: $font-primary;
    color: $color-001;
}
.entry-title.style-22{
    font-size: 18px;
    font-family: $font-primary;
    color: $color-001;
}
.entry-title.style-23{
    font-family: $font-primary;
    font-size: 16px;
    font-weight: bold;
}
.entry-content{
    overflow: hidden;
}

.entry-sub-title.style-10{
    @extend .entry-title.style-16;
}

/*--- meta-data ---*/

.entry-meta {
    @extend %clearfix;
    @extend %list_reset;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    > span,
    > p {
        display: inline-block; 
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        i { 
            margin-right: 10px;
        }
        a{
            color: $color-secondary;
            &:hover{
                @extend %main_color;
            }
        }
        a {
            opacity: 1 !important;
            &.entry-categories {}
        }
    }
    > a {
        display: inline-block;
        margin-top: 5px;
        &:hover {
            span {
                @extend %main_color;
            }
        }
    }
}
.entry-meta.style-01 {
    @extend %clearfix;
    @extend %list_reset;
    margin: 0;
    > span,
    > p {
        display: inline-block; 
        margin: 0 0 13px 60px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 4px;
            left: -30px;
            width: 1px;
            height: 13px;
            background: $color-secondary;
        }
        &:first-child{
            margin-left: 0;
            &:before{
                display: none;
            }
        }
        i { 
            margin-right: 12px;
        }
    }
}



/*___________ 1.2.5 Default Widget ___________*/

.widget {
    @extend %clearfix;
    @extend %list_reset;
    margin-bottom: 90px;
    position: relative;
    > header,
    > .container > header {
        @extend %clearfix;
        margin-bottom: 50px;
        position: relative;
        .widget-title{
            margin-bottom: 15px;            
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    .widget-content {
        @extend %clearfix;
        position: relative;
        > article {
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    @media screen and (max-width: 639px) {
        margin-bottom: 40px;
        > header,
        > .container > header {
            margin-bottom: 30px;
            p {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
} 

/*--- widget-title ---*/

.widget-title {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    color: $color-primary;
    margin-bottom: 15px;
    position: relative;
    font-style: italic;
}

.widget-title.style-01{
    font-style: italic;
    font-size: 24px;
}
.widget-title.style-02{
    font-style: italic;
    font-size: 28px;
}
.widget-title.style-03{
  font-size: 46px;
  font-style: normal;
}
.widget-title.style-04{
    font-style: normal;
    font-size: 24px;
    font-weight: normal;
}
.widget-title.style-05{
    font-style: normal;
    font-size: 18px;
    font-weight: normal;

}
.widget-title.style-06{
    @extend .widget-title.style-05;
    @extend %main_color;
    margin-bottom: 15px;
}
.widget-title.style-07{
    font-style: normal;
    font-size: 48px;
    font-weight: normal;
    line-height: 54px;

}
.widget-title.style-08{
    font-style: italic;
    font-size: 46px;
    line-height: 50px;
}
.widget-title.style-09{
    font-size: 46px;
    font-style: normal;
    line-height: 50px;
    @extend %main_color;
    text-transform: none;
}
.widget-title.style-10{
    font-style: normal;
    font-size: 46px;
    line-height: 44px;
    @extend %main_color;
    text-transform: none;
}
.widget-title.style-11{
    font-style: normal;
    font-size: 28px;
    font-weight: normal;
}
.widget-title.style-12{
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
}
.widget-title.style-13{
 font-size: 18px;
 font-weight: bold;
}
.widget-title.style-14{
    font-size: 24px;
    font-weight: bold;
    position: relative;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        right: -15px;
        width: 3px;
        height: 100%;
        background: $color-036;

    }
}
.widget-title.style-15{
    font-size: 24px;
    font-family: $font-secondary;
    font-weight: normal;
    font-style: normal;
    height: 70px;
    line-height: 70px;
    background: $cl-004;
    padding: 0 25px;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        bottom: -25px;
        left: 20px;
        width: 0;
        height: 0;
        border-top: 25px solid $cl-004;
        border-left: 20px solid transparent;
        @include skewX(10deg);
    }
}

.widget-title.style-16{
    font-size: 36px;
    font-style: normal;
}
.widget-title.style-17{
    font-size: 36px;
    line-height: 54px;
    color: $color-001;
    font-weight: 300;
    font-style: normal;
}
.widget-title.style-18{
    font-style: normal;
    font-size: 48px;
    font-weight: normal;
    line-height: 54px;
    color: $color-001;

}
/*-- widget default --*/

.widget_categories,
.widget_recent_entries,
.widget_archive,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_rss {
    > ul,
    ul.menu {
        > li {
            position: relative;
            margin-top: 15px;
            text-transform: capitalize;
            @extend %clearfix;
            @extend %transition;
            &:first-child {
                margin-top: 0;
            }
            .sub-menu,
            .children, ul {
                margin-left: 10px;
                li {
                    margin-top: 15px;
                }
            }
            > span {
                display: inline-block;
            }
        }
        a{
            &:before{
                @extend %fa;
                content: '\f105';
                font-size: 16px;
                margin-right: 20px;
            }   
        }
    }
}

.widget_categories,
.widget_archive {
    > ul,
    ul.menu {
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
        font-weight: 400;
        > li {
            margin: 0;
            padding: 14px 40px;
            position: relative;
            border-top: 1px solid $cl-006;
            &:first-child{
                border-top: 0;
            }
            &:before{
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 3px;
                height: 100%;
                @extend %main_bg_color;
                @extend %transition;
                @include opacity(0);
            }
            &:hover{
                &:before{
                    @include opacity(1);
                }
            }
            .sub-menu,
            .children, ul {
                li {
                }
            }
            a {
                &:before{
                    display: none;
                }
            }
        }
    }
}

.widget_rss {
    .widget-title .rsswidget {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        text-transform: inherit;
        font-weight: inherit;
        float: none;
    }
    > ul {
        > li {
            a {
                @extend %main_color;
            }
        }
    }
}

.textwidget {
    p {
        font-size: 14px;
        strong {
            font-weight: normal;
            margin-bottom: 20px;
            display: inline-block;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

.wp-caption {
    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

.post-date {
    margin-left: 3px;
    @extend %main_color;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 11px;
}

.wp-playlist {
    margin: 0 !important;
}

/* Tag */

.tagcloud {
    margin: -3px 0 0;
    a {
        padding: 6px 25px;
        margin: 3px 0 0;
        display: inline-block;
        border: 1px solid $cl-004;
        font-size: 15px !important;
        color: $color-primary;
        position: relative;
        &:hover {
            @extend %main_color; 
            @extend %main_bd_color;
        }
    }
}

.widget_categories,
.widget_archive,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_rss,
.textwidget {
    select {
        font-size: 13px;
        color: $color-primary;
        width: 100%;
        height: 30px;
        padding: 0 20px;
        border: 1px solid $cl-004;
        outline: none;
        position: relative;
    }
}

/* Calendar */

.widget_calendar {
    table {
        line-height: 2;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: -5px;
    }
    caption {
        font-weight: 600;
        border-bottom: 1px solid $cl-004;
        color: $color-primary;
        font-size: 16px;
        padding-bottom: 15px;
        line-height: 18px;
    }
    tfoot {
        border-top: 1px solid $cl-004;
        font-weight: 700;
        td {
            padding-top: 15px;
        }
    }
    thead th {
        width: 14.285%;
        font-size: 16px;
        @extend %main_color;
    }
    tbody td,
    thead th {
        text-align: center;
        text-align: center;
        font-weight: 600;
        border-bottom: 1px solid $cl-004;
        color: $color-primary;
        font-size: 14px;
        margin-bottom: 15px;
        padding-bottom: 12px;
        padding-top: 15px;
        line-height: 18px;
    }
    tbody a {
        @extend %main_color;
        display: block;
    }
    #prev {
        padding-left: 5px;
    }
    #next {
        padding-right: 5px;
        text-align: right;
    }
}

/* Search */

.widget_search {
    .search-box{
        padding: 40px;
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
    }
    .search-form {
        width: 100%;
        position: relative;
        input.search-text {
            height: 38px;
            line-height: 38px;
            padding: 0 20px;
            width: 100%;
            background: $cl-001;
            border: 1px solid $cl-008;
            color: $color-secondary;
        }
        .search-submit {
            @extend %main_bg_color;
            color: $cl-001;
            @extend %main_bg_color;
            height: 38px;
            line-height: 38px;
            padding: 0 38px;
            border-radius: 38px;
            font-weight: 400;
            text-transform: capitalize;
            border: none;
            margin-top: 20px;
            @extend %transition;
            &:hover {
                background: $color-primary;
            }
        }
    }
}


.bg-gray{
    width: 100%;
    height: 100%;
    z-index: 2!important;
    background: rgba(45, 45, 45, 0.6);
}
.bg-green{
    @extend .bg-gray;
    background: rgba(24, 33, 6, 0.7);
}
.bg-green-2{
    @extend .bg-gray;
    background: rgba(88, 126, 23, 0.85);
}
.bg-green.style-03{
   @extend .bg-gray;
   background: rgba(24, 33, 6, 0.3);
}
/* custom icon */
.ct-icon-1{
    border: 2px solid $color-005;
    border-radius: 100%;   
    @include icon(70px, 70px, 66px, 24px); 
}


.ct-icon-2{
 @include icon(54px, 54px, 54px, 24px);  
 border-radius: 100%;
 border: 2px solid $color-003;
 text-align: center;
 @extend %transition;
 span{      
    color: $color-001;
    @extend %transition;
}
}

.ct-icon-3{
    @include icon(25px, 25px, 23px, 14px); 
    border: 1px solid $color-001;
    border-radius: 100%;
    font-weight: bold;
    color: $color-001;
    background: transition;
    @extend %transition;
}
.ct-icon-4{
 @include icon(60px, 60px, 58px, 24px);  
 border-radius: 100%;
 border: 2px solid $color-005;
 text-align: center;
 @extend %transition;
 span{      
    color: $color-001;
    @extend %transition;
}
&:hover{
    span{
        color: $cl-001!important;
    }
}
}




/*--- More link ---*/
.more-link.style-01{
    font-weight: bold;
    font-family: $font-primary;
    font-style: italic;
    color: $color-primary;
    font-size: 16px;  
    position: relative;
    padding-left: 25px;
    span{
        font-size: 18px;
        @extend %main_color;
        position: absolute;
        bottom: 2px;
        left: 0;
    }

    &:hover{
        @extend %main_color;
    }
}
.more-link.style-02{
    text-transform: uppercase;
    display: inline-block;
    color: $cl-001;
    height: 50px;
    padding:0 50px;
    line-height: 50px;
    border: 1px solid $color-primary;
    background: $color-primary;

    @extend %transition;
    &:hover{
       background: transparent;
       color: $color-primary;

   }
}
.more-link.style-03{
    text-transform: uppercase;
    display: inline-block;
    color: $cl-001;
    height: 50px;
    padding:0 50px;
    line-height: 50px;
    @extend %main_bg_color;
    border-width: 1px;
    border-style: solid;
    @extend %main_bd_color;
    @extend %transition;
    &:hover{
        background: transparent;
        @extend %main_color;
    }
}
.more-link.style-04{
    text-transform: uppercase;
    display: inline-block;
    @extend %main_color;
    height: 50px;
    padding:0 50px;
    line-height: 50px;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    @extend %main_bd_color;
    @extend %transition;
    &:hover{
        @extend %main_bg_color;
        color: $cl-001;
    }
}
.more-link.style-05{
    text-transform: uppercase;
    display: inline-block;
    color: $color-primary;
    height: 50px;
    padding:0 50px;
    line-height: 50px;
    border: 1px solid $color-primary;
    background: transparent;

    @extend %transition;
    &:hover{
       background: $color-primary;
       color: $cl-001;

   }
}

.more-link.style-06{
    text-transform: uppercase;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    @extend %main_bd_color;
    @extend %main_bg_color;
    color: $cl-001;
    font-family: $font-secondary;
    padding: 0 50px;
    height: 50px;
    line-height: 50px;

    @extend %transition;
    &:hover{
        background: transparent;
        @extend %main_color;
    }
}
.more-link.style-07{
    @extend .more-link.style-03;
    background: $color-001;
}
.more-link.style-08{
    text-transform: uppercase;
    display: block;
    height: 50px;
    line-height: 50px;
    @extend %main_bg_color;
    color: $cl-020;
    text-align: center;
    font-size: 15px;
    @extend %transition;
    span{
        margin-right: 10px;
    }
    &:hover{
        background: $color-primary;
    }
}

.more-link.style-09{
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
    @extend %main_bg_color;
    color: $cl-020;
    font-family: $font-secondary;
    padding: 0 12px;
    height: 35px;
    line-height: 35px;

    @extend %transition;
    &:hover{
        background: $color-primary;
    }
}

.more-link.style-10{
    text-transform: uppercase;
    display: inline-block;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    @extend %main_bd_color;
    @extend %main_color;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    @extend %transition;
    &:hover{
        @extend %main_bg_color;
        color: $cl-001;
    }
}
.more-link.style-11{
    text-transform: uppercase;
    display: inline-block;
    color: $color-001;
    height: 50px;
    padding:0 50px;
    line-height: 50px;
    background: transparent;
    border: 1px solid $color-001;
    @extend %transition;
    &:hover{
        background: $color-001;
        color: $cl-001
    }
}

/*_____________ btn _____________*/
.ct-btn-1{
    color: $cl-001;
    height: 50px;
    line-height: 50px;
    padding: 0 60px;
    // @extend %main_bg_color;
    background-color: $color-001;
    border-width: 1px;
    border-style: solid;
    // @extend %main_bd_color;
    border-color: $color-001;
    border-radius: 0;
    @extend %transition;
    &:hover{
        background: transparent;
        @extend %main_color;
    }
}
.ct-btn-2{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 45px;
    background: $cl-001;
    color: $color-primary!important;
    border: 1px solid $cl-001;
    @extend %transition;
    &:hover{
        background: transparent;
        color: $cl-001!important;
    }
}
.ct-btn-3{
    color: $cl-001;
    height: 50px;
    line-height: 50px;
    padding: 0 60px;
    @extend %main_bg_color;

    border-width: 1px;
    border-style: solid;
    @extend %main_bd_color;
    @extend %transition;
    &:hover{
        background: transparent;
        @extend %main_color;
    }
}
.ct-btn-4{
    color: $cl-001;
    font-size: 15px;
    height: 47px;
    line-height: 47px;
    padding: 0 23px;
    background-color: $color-001;
    border-width: 1px;
    border-style: solid;
    border-color: $color-001;
    border-radius: 0;
    @extend %transition;
    &:hover{
        background: transparent;
        @extend %main_color;
    }
}
.ct-btn-5{
    color: $cl-001;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    border-radius: 0;
    background: $color-001;
    width: 100%;
    padding: 0;
    @extend %transition;

    &.style-01{
        background: $color-020;
    }
    &:hover{
        background: $color-primary;
        color: $cl-001;
    }

}

.ct-btn-6{
    color: $cl-001;
    height: 35px;
    line-height: 35px;
    padding: 0 25px;
    @extend %main_bg_color;    
    @extend %transition;
    border-radius: 0;
    &:hover{
      color: $cl-001;
      background: $color-primary;
  }
}
.ct-btn-7{
    color: $cl-001;
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    @extend %main_bg_color;
    text-transform: uppercase;

    border-width: 1px;
    border-style: solid;
    @extend %main_bd_color;
    @extend %transition;
    width: 100%;
    border-radius: 0;
    &:hover{
        background: transparent;
        @extend %main_color;
    }
}


.ct-btn-01{
    display: inline-block;
    text-transform: uppercase;
    &.style-01{
        @include btn(60px, 60px,  16px);
        @extend .white-text-style;
        background: $color-primary;
        &:hover{
            @extend %main_bg_color;
        }

    }
    &.style-02{
        @include btn(55px, 55px, 15px);
        border: 2px solid $color-primary;
        margin-top: 5px;
        &:hover{
            @extend %main_bd_color;

        }
    }
    &.style-03{
        @include btn(40px, 40px, 14px);
        @extend .white-text-style;
        @extend %main_bg_color;
        margin-top: 20px;
        &:hover{
            background: $color-primary;
        }

    }
    &.style-04{
        @include btn(40px, 40px, 14px);
        border-width: 1px;
        border-style: solid;
        @extend %main_bd_color;
        @extend %main_color;
        margin-top: 20px;
        &:hover{
           border-color: $color-primary;
           color: $color-primary;

       }
   }
}

.ct-btn-02{
    display: inline-block;
    &.style-01{
        @include btn(60px, 65.5px,  16px);
        @extend .white-text-style;
        background: $color-primary;
        &:hover{
            @extend %main_bg_color;
        }

    }
    &.style-02{
        @include btn(55px, 60px, 15px);
        border: 2px solid $color-primary;
        margin-top: 5px;
        &:hover{
            @extend %main_bd_color;

        }
    }
    &.style-03{
        @include btn(40px, 45px, 14px);
        @extend .white-text-style;
        @extend %main_bg_color;
        margin-top: 20px;
        &:hover{
            background: $color-primary;
        }

    }
    &.style-04{
        @include btn(40px, 45px, 14px);
        border-width: 1px;
        border-style: solid;
        @extend %main_bd_color;
        @extend %main_color;
        margin-top: 20px;
        &:hover{
           border-color: $color-primary;
           color: $color-primary;

       }
   }
}

.ct-btn-03{
    display: inline-block;
    text-transform: uppercase;
    @include btn(50px, 55px,  15px);
    @extend .white-text-style;
    border-width: 1px;
    border-style: solid;


    &.style-01{        
     border-radius: 50px;
     @extend %main_bd_color;
     @extend %main_bg_color;
 }
 &.style-02{
    border-radius: 3px;
    border-color: $color-primary;
    background: $color-primary;
    &:hover{     
        color: $color-primary;
    }
}
&.style-03{
    border-radius: 5px;
    @extend %main_bd_color;
    @extend %main_bg_color;
}
&.style-04{
   border-color: $color-primary;
   background: $color-primary;
   &:hover{
     color: $color-primary;
 }
}


&:hover{
    background: transparent;
}
}


.ct-btn-04{
    display: inline-block;
    text-transform: uppercase;
    @include btn(50px, 55px,  15px);
    border-width: 1px;
    border-style: solid;
    background: transparent;

    @extend %main_bd_color;
    @extend %main_color;
    &:hover{
        @extend %main_bg_color;
        @extend .white-text-style;
    }

    &.style-01{        
     border-radius: 50px;      
 }
 &.style-02{
    border-radius: 3px;
}
&.style-03{
    border-radius: 5px;
}
&.style-04{
}
}
/*_____________ loadmore _____________*/
.millside-loadmore.style-01{
   cursor: pointer;
   display: inline-block;
   @extend %main_color;
   height: 50px;
   padding:0 50px;
   line-height: 50px;
   border-width: 1px;
   border-style: solid;
   @extend %main_bd_color;
   background: transparent;
   text-transform: uppercase;

   @extend %transition;
   &:hover{
    @extend %main_bg_color;
    color: $cl-001;

}

}
.millside-loadmore.style-02{
  cursor: pointer;
  display: inline-block;
  height: 50px;
  padding:0 50px;
  line-height: 50px;
  border-width: 1px;
  border-style: solid;
  @extend %main_bd_color;
  @extend %main_color;
  background: transparent;
  text-transform: uppercase;

  @extend %transition;
  &:hover{
    background: $color-001;
    color: $cl-001;

}
}



/*_____________ badge-icon _____________*/
.badge-icon-1{
    width: 42px;
    height: 42px;
    @extend %main_bg_color;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 25px;
    p{
        display: inline-block;
        line-height: 42px;
        text-transform: uppercase;
        color: $cl-001;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }
}
.badge-icon-1.style-01{
    background: $color-010;
}





/*_____________ form _____________*/
.kopa-form{
    .form-group{
        > div{
            position: relative;
        }
        label.error{
            position: absolute;
            top: 0;
            right: 30px;   
            font-weight: 300;
            color: $color-019;
            line-height: 40px; 
            z-index: 100;   
        }
    }

    &.kopa-form-01, &.kopa-form-05{
        label.error{line-height: 45px;}
    }
}

.ct-list-01{
    margin-top: -35px!important;
    >div, >li{
        margin-top: 35px;
    }
}
.ct-list-02{
    margin-top: -50px!important;
    >div, >li{
        margin-top: 50px;
    }
}



.ct-item-01{
    .entry-title{
        margin-bottom: 5px;
    }
    p{
        font-size: 15px;
        line-height: 30px;
    }
}

.ct-item-03{
    .entry-thumb{
        margin-bottom: 25px;
    }
    .entry-title{
        margin-bottom: 5px;
    }
    p{
        font-size: 15px;
        line-height: 30px;
    }
    footer a{
        @extend %main_color;
    }
}