@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900italic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

$font-primary: 'Merriweather', serif;
$font-secondary: 'PT Sans';
$font-support: 'PT Sans';
$font-01: 'PT Sans';
 
$color-primary: #383938;   
$color-secondary: #5c5d5c;  

$color-hover: #849b0d; 
$color-001: #587e17;   
$color-002: #90a72b;  
$color-003: #d9e3bd;
$color-004: #d2ad5f;   
$color-005: #889a49;
$color-006: #a1b959;
$color-007: #89a831;
$color-008: #b4c183;
$color-009: #dbb97d;
$color-010: #d7ae64; //Yellow
$color-011: #97ad71;
$color-012: #87a056; 
$color-013: #9daf3d;
$color-014: #3b5998;
$color-015: #00acee;
$color-016: #0077b5;
$color-017: #ffb400;
$color-018: #dbd0b8;
$color-019: #eb6666; //red
$color-020: #428bca; // blue
$color-021: #7d92e7;
$color-022: #e7d474;
$color-023: #27ea88;
$color-024: #f4b234;
$color-025: #fdb1a8;
$color-026: #ff391f;
$color-027: #ffcc66;
$color-028: #e99b00;
$color-029: #9cff70;
$color-030: #86c26d;
$color-031: #8ae1ff;
$color-032: #21c2f8;
$color-033: #e2b5e5;
$color-034: #af75b3;
$color-035: #668915;
$color-036: #94bb3f;
$color-037: #dcb876;


$cl-001: #fff;
$cl-002: #000;
$cl-003: #a7a7a7;
$cl-004: #ebebeb;
$cl-005: #ccc;
$cl-006: #cbcdcf;
$cl-007: #e4e4e4;
$cl-008: #f1f3e9;
$cl-009: #a2a4a2;
$cl-010: #daddd6;
$cl-011: #bab5ad;
$cl-012: #ececec;
$cl-013: #f2f2f2;
$cl-014: #eee;
$cl-015: #888;
$cl-016: #efefef;
$cl-017: #d7d7d7;
$cl-018: #f6f6f6;
$cl-019: #f5f5f5;
$cl-020: #edf0ea;
$cl-021: #c5c5c5;
$cl-022: #e9e9e9;
$cl-023: #777;
$cl-024: #eaeaea;
$cl-025: #a9a9a9;
$cl-026: #787878;
$cl-027: #f8f8f8;
$cl-028: #dcdcdc;

$font-size: 14px;
$line-height: 26px;
$top: 50%; 

%list_reset {
    list-style: none;
    padding: 0;
    margin: 0;
    &.row{
        margin: 0 -15px;
    }
    li{
        list-style: none;
        margin: 0;
    }
    ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;
        &.row{
            margin: 0 -15px;
        }
        li{
            list-style: none;
        }
    }
}

%main_color {
    color: $color-hover;
}

%main_bg_color {
    background: $color-hover;
}
%maini_bg_color {
    background: $color-hover!important;
}

%main_bd_color {
    border-color: $color-hover;
}

%main_bdt_color {
    border-top-color: $color-hover;
}

%main_bdr_color {
    border-right-color: $color-hover;
}

%main_bdb_color {
    border-bottom-color: $color-hover;
}

%main_bdl_color {
    border-left-color: $color-hover;
}

%maini_color {
    color: $color-hover !important;
}

%list_format {
    li:first-child {
        margin: 0;
        padding: 0;
        border: 0;
    }
}

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

%transition {
    transition: all 0.5s, visibility 0s;
    -ms-transition: all 0.5s, visibility 0s;
    -webkit-transition: all 0.5s, visibility 0s;
    -moz-transition: all 0.5s, visibility 0s;
}
%transition_important {
    transition: all 0.5s, visibility 0s!important;
    -ms-transition: all 0.5s, visibility 0s!important;
    -webkit-transition: all 0.5s, visibility 0s!important;
    -moz-transition: all 0.5s, visibility 0s!important;
}

%fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%ti {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%text_format {
    font-size: $font-size;
    line-height: $line-height;
    font-style: normal;
}

%vertical_line{
    position: relative;
    &:after{
     content: "";
     position: absolute;
     width: 2px;
     height: calc(100% - 70px);
     background: $color-005;
     left: 0px;
     top: 70px;
 }
 &:last-child{
    padding-bottom: 0;
    &:after{
        display: none;
    }
}
&:first-child{
    &:before{
       content: "";
       position: absolute;
       width: 2px;
       height: 90px;
       background: $color-005;
       left: -1px;
       top: -90px;

   }
}
} 
%bd_gray{
    border-width: 1px;
    border-style: solid;
    border-color: $cl-004;
}

@mixin list_t($margin-t, $padding-t, $border-t) {
    margin-top: $margin-t;
    padding-top: $padding-t;
    border-top: $border-t;
}

@mixin list_r($margin-r, $padding-r, $border-r) {
    margin-right: $margin-r;
    padding-right: $padding-r;
    border-right: $border-r;
}

@mixin list_b($margin-b, $padding-b, $border-b) {
    margin-bottom: $margin-b;
    padding-bottom: $padding-b;
    border-bottom: $border-b;
}
@mixin list_l($margin-l, $padding-l, $border-l) {
    margin-left: $margin-l;
    padding-left: $padding-l;
    border-left: $border-l;
}

@mixin icon($width, $height, $line-height, $font-size) {
    display: inline-block;
    text-align: center;
    width: $width;
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
}

@mixin button($width, $height, $line-height, $font-size, $top) {
    text-align: center;
    width: $width;
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
    position: absolute;
    top: $top;
    margin-top: -$height / 2;
    margin-left: -$width / 2;
}

@mixin opacity($opacity) {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+ $opacity * 100 + ")";    
    /* Netscape */
    -moz-opacity: $opacity;
    /* Safari 1.x */
    -khtml-opacity: $opacity;
    /* Good browsers */
    opacity: $opacity;
}


@mixin before-left($top,$bottom,$right,$color,$topp) {
    content: '';
    position: absolute;
    border-top: $top solid transparent;
    border-bottom: $bottom solid transparent;
    border-right: $right solid $color;
    top: $topp;
    left: -$right;
}

@mixin before-right($top,$bottom,$left,$color,$topp) {
    content: '';
    position: absolute;
    border-top: $top solid transparent;
    border-bottom: $bottom solid transparent;
    border-left: $left solid $color;
    top: $topp;
    right: -$left;
}

@mixin before-bottom($left,$right,$top,$color,$bottom) {
    content: '';
    position: absolute;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    border-top: $top solid $color;
    bottom: $bottom;
    left: 50%;
    margin-left: -$left;
}

@mixin before-top($left,$right,$bottom,$color,$top) {
    content: '';
    position: absolute;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    border-bottom: $bottom solid $color;
    top: $top;
    left: 50%;
    margin-left: -$left;
}

@mixin transition($time) {
    transition: all $time, visibility 0s;
    -ms-transition: all $time, visibility 0s;
    -webkit-transition: all $time, visibility 0s;
    -moz-transition: all $time, visibility 0s;
} 

@mixin transform($transformx) {
    -webkit-transform: $transformx;
    -moz-transform: $transformx;
    -ms-transform: $transformx;
    -o-transform: $transformx;
    transform: $transformx;
}

@mixin scale($scale) {
    @include transform(scale($scale));
}

@mixin skew($skew) {
    @include transform(skew($skew));
}

@mixin rotate($rotate) {
    @include transform(rotate($rotate));
}



@mixin translateX($translateX) {
    @include transform(translateX($translateX));
}

@mixin translateY($translateY) {
    @include transform(translateY($translateY));
}
@mixin translate($x, $y){
   -ms-transform: translate($x,$y); /* IE 9 */
   -webkit-transform: translate($x,$y); /* Safari */
   transform: translate($x,$y);
}
@mixin skewX($skewX){
 -ms-transform: skewX($skewX); /* IE 9 */
 -webkit-transform: skewX($skewX); /* Safari */
 transform: skewX($skewX);
}
@mixin text_format($font-family, $font-size, $line-height, $font-weight) {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin transform-origin($x, $y) {
    -webkit-transform-origin : $x $y;
    -moz-transform-origin : $x $y;
    -ms-transform-origin : $x $y;
    -o-transform-origin : $x $y;
    transform-origin : $x $y;
}

@mixin list_format($margin, $padding, $border) {
    li:first-child {
        margin: $margin;
        padding: $padding;
        border: $border;
    }
}
@mixin placeholder($color, $font-size, $font-style){
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color;
      font-size: $font-size;
      font-style: $font-style;
  }
  &::-moz-placeholder { /* Firefox 19+ */
      color: $color;
      font-size: $font-size;
      font-style: $font-style;
  }
  &:-ms-input-placeholder { /* IE 10+ */
      color: $color;
      font-size: $font-size;
      font-style: $font-style;
  }
  &:-moz-placeholder { /* Firefox 18- */
      color: $color;
      font-size: $font-size;
      font-style: $font-style;
  }
}

@mixin btn($height, $padding, $font-size){
    height: $height;
    line-height:$height;
    padding: 0 $padding;
    font-size: $font-size;
    @extend %transition;
}
::selection {
    background: $color-hover;
    color: $cl-001;
    text-shadow: none;
}

::-moz-selection {
    background: $color-hover;
    color: $cl-001;
    text-shadow: none;
}


%tab_reset{  
    border-top: none;
    .nav-tabs{      
        border-bottom:none;      
        li{               
            margin: 0;       
            a{
                display: block;
                border: none;
                border-radius: 0;
                padding: 0;
                margin: 0; 
            }
        }
    } 
}