.ul-checked {

}
.ul-checked li {
    font-size: 16px;
    margin-bottom: 8px;
    list-style: none;
}
.ul-checked li i.fa {
    font-size: 23px;
    vertical-align: text-bottom;
    margin-right: 5px;
    color: #4CAF50;
}

.ul-checked1 li {
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 8px;
    list-style: none;

}

.ul-checked1 li i.fa {
    /* margin-left: 150px; */
    font-size: 80px;
    vertical-align: text-bottom;
    margin-right: 5px;
    color: #4CAF50;
}



ul.row li {
    list-style: none;
}

.sp-horizontal .sp-next-arrow {
    right: 45px;
}
.sp-horizontal .sp-previous-arrow {
    left: 45px;
}

.main-col .millside-module-ads-5 .part-2 .icon-weather + div p:nth-of-type(1) {
    font-size: 24px;
}
.main-col .millside-module-ads-5 .part-1 p:nth-of-type(2) {
    font-size: 28px;
}

.millside-module-ads-5.large .part-2 .icon-weather + div p:nth-of-type(1) {
    font-size: 34px;
    line-height: 50px;
}
.millside-module-ads-5.large .part-1 p:nth-of-type(2) {
    font-size: 28px;
}
.millside-module-ads-5.large, .millside-module-ads-5.large .widget-content {
    height: 125px;
}
.millside-module-ads-5.large a.btn {
    color: #888;
    margin-top: 30px;
}

/*___________ Fixed Widgets ___________*/

.widget.widget-fixed {
    display: block;
    position: fixed;
    top: 40px;
    width: 370px;
    background: #FFF;
    z-index: 1000;
}
  


.owl-carousel-trainings {
    background: #383938;
    border: 15px solid #ebebeb;
    padding: 55px 0;
    position: relative;
}
.owl-carousel-trainings .owl-nav > div {
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    top: 100px;
}
.owl-carousel-trainings .owl-prev {
    left: 40px;
}
.owl-carousel-trainings .owl-next {
    right: 40px;
}
.owl-carousel-trainings .item {
    text-align: center;
}
.owl-carousel-trainings .item p {
    text-align: center;
}
.owl-carousel-trainings .item p:nth-of-type(1) {
    font-family: "Merriweather", serif;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 55px;
    /* margin-left: -15px; */
    position: relative;
    color: white;
    font-weight: bold;
}
.owl-carousel-trainings .item p:nth-of-type(1) span {
    font-size: 34px;
    position: absolute;
    top: -10px;
    color: white;
}
/* .owl-carousel-trainings .item p:nth-of-type(3) {
    font-size: 18px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
} */
.owl-carousel-trainings .item p:nth-of-type(2) {
    font-size: 35px;
    line-height: 45px;
    font-family: "Merriweather", serif;
    font-style: italic;
    color: #d7ae64;
    padding: 15px 0 20px;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
    display: inline-block;
}
.owl-carousel-trainings .item p:nth-of-type(3) a {
    color: #e4e4e4;
}

.img-circular {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: inline-block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}
.img-circular span {
    width: 190px;
    height: 190px;
    display: block;
    border: 2px solid #FFF;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
}

.bottom-sidebar {
    background: #616161;
    color: white;
}
.bottom-sidebar p, .millside-module-bottom-menu .widget-content ul li a, .bottom-logo .bottom-logo-title {
    color: white;
    margin-left: 10px;
}
footer {
    background: #333;
}
.kopa-page-footer > div {
    padding: 15px 0;
    border: 0px;
    color: #ababab;
}
.millside-module-bottom-menu .widget-content ul li {
    float: right;
    margin-bottom: 15px;
}
.millside-module-bottom-menu .widget-content ul li:last-child {
    margin-right: 30px;
}
.bottom-logo-caption {
    margin-top: 16px !important;
    padding-bottom: 19px;
    padding-top: 14px;
}
.bottom-sidebar .millside-module-bottom-menu {
    margin-top: 30px;
}

.kopa-page-header-1 .header-top .header-top-right ul li {
    padding: 10px 30px;
    padding-top: 13px;
    padding-bottom: 7px;
}
.kopa-page-header-1 .header-top .header-top-right ul li a {
    font-size: 18px;
    line-height: 26px;
    margin-left: 5px;
    margin-right: 5px;
}

#bookingForm {
    padding: 10px;
}

#bookButton2 {
    float: right;
    top: 33%;
    display: inline-block;
    position: absolute;
    right: 0px;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    color: white;
    font-family: "PT Sans";
    padding: 0px 68px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    background: #D87C35;
    border-color: #D87C35;
}
#bookButton2:hover {
    background: transparent;
}

@media screen and (max-width: 479px) {
    .kopa-page-header-1 .header-top .header-top-right ul li {
      border: 0px;
      padding: 0px;
      padding-top: 7px;
      padding-bottom: 7px;
      margin-right: -15px;
    }
    .kopa-page-header-1 .header-top .header-top-right ul li a {
      display: block;
      text-align: right;
    }
  }

@media screen and (max-width: 991px) {
    .brands-box .item{
        padding: 15px;
        text-align: center;
        position: relative;
        background: #FBFBFB;
        /* cursor: pointer; */
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: none;
    }
    .brands-box .item:nth-child(1n+1) {
        border: none;
    }
}

.widget-content .entry-title, .widget .widget-title  {
    color: #587e17;
}