/*_____________ Home 1 _____________*/
//main menu

.main-menu{
  @extend %clearfix;
  li{ 
    position: relative;
    list-style-type: none;       
    a{            
      text-decoration: none;
      text-transform: capitalize;
      color: $color-primary;
      font-weight: bold;
      font-family: $font-primary; 
      display: block;
      padding: 0;        
      &:hover{
        @extend %main_color;
      }
    }
  }

  ul{
    display: none;
    box-shadow: 0 5px 2px -2px $cl-003;
    width: 230px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    left: auto;
    background: $cl-001;
    z-index: 9999 !important;
    border: none;
    li{
     position: relative;
     width: 230px;
     padding: 0;
     margin: 0;
     a{
      padding: 0 15px;
      line-height: 45px;
      width: 100%;
      border-left: 5px solid transparent;
      @extend %transition;
      &:hover{
        background-color: $cl-004;
        border-left-color: $color-002;
      }
    }
  }
  ul{
    left: 230px;
    top: 0;
  }
}
}
.current-menu-item > a{
  @extend %maini_color;
}
.sfHover > a{
  background-color: $cl-004;
  border-left-color: $color-002!important;
}
.sf-with-ul{
  position: relative;
  &:before{
    font-family: FontAwesome;
    content: "\f105";
    position: absolute;
    top: 3px;
    right: 15px;
    font-size: 16px;
    display: block;
    line-height: 45px;
  }
}




//
.kopa-page-header-1 .kopa-logo{
  width: 190px;
}
.kopa-page-header-1{
  .header-top{
   @extend %main_bg_color;
   a{
    color: $cl-001;
    text-decoration: none!important;
    font-family: $font-secondary;
  }
  .header-top-left ul{
    padding: 0;
    margin: 0;
    @extend %clearfix;

    li{
      float: left;
      list-style-type: none;
      padding: 0 30px;
      margin-bottom: 0;
      border-left: 1px solid $color-002;
      a{
        font-size: 13px;
        line-height: 42px;
      }

    }
  }
  .header-top-right{
    margin-top: -5px;
    margin-bottom: -8px;
    a{
     line-height: 55px;
     margin-left: 20px;
     font-size: 17px;
   }
   .cart{

    span:first-child{
      margin-right: 5px;             
      color: $cl-008;
      font-size: 18px;            
    }
    span:last-child{
      background-color: $color-primary;
      font-family: $font-primary;
      border-radius: 100%;
      min-width: 55px;
      height: 55px;
      display: inline-block;
      text-align: center;  
      font-size: 16px;
      padding: 0 5px;        
    }    
  }
}
}
.header-bottom{
  padding: 26px 0;   
}
.main-nav{ 
  float: right;
  margin-top: 12px;
  margin-right: 27px;
}
.main-menu{
  margin: 0;
  >li{
    margin-right: 51px;
    float: left;
    &:last-child{margin-right: 0}
    >a{
     padding: 0!important;
     text-transform: uppercase;
     background-color: transparent;
     &.sf-with-ul{
       &:before{
        content: "\f107";          
        right: -18px;
        line-height: 17px;    
      }
    }
  }
  >ul{
    padding-top: 45px;
  }  
  &.sfHover > a{
    @extend %main_color;
  }
}
}

}

.search-box{
  position: relative;
  text-align: right;
}
.search-input{
  width: 170px;
  height: 42px;
  background-color: $cl-004;
  border-radius: 2px;
  border: none!important;
  padding: 0 35px 0 16px;
  @include placeholder($cl-009, 14px, normal);
}
.search-submit{
  height: 42px;
  line-height: 42px;
  width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  top: 0px;
  right: 0;
  span{
   font-size: 16px;
   font-weight: bold;
 }
}

/*_____________ Home 2 _____________*/ 

.kopa-page-header-2{
 .kopa-logo{
  margin: 0 -15px;   
  margin-bottom: -10px;
  padding: 33px 20px 32px 21px;        
  background-color: $cl-004;
  text-align: center;
  position: relative;
  z-index: 10;

}
.main-nav{
  margin-top: 40px;
}
.header-left{
  float: right;
}
.header-right{
  float: left;
  .main-menu{
    margin-left: 40px;
    margin-right: 0;
  }
}

.main-menu{
 @extend %clearfix;
 margin: 0;
 padding: 0;
 > li{
  float: left;
  margin-right: 40px;
  > a{
    text-transform: uppercase;
    background-color: transparent;
    position: relative;
    padding: 0!important;

    &.sf-with-ul{
     &:before{
      display: none;
    }
  }
}
>ul{
  padding-top: 45px;
}  
&.sfHover > a{
  @extend %main_color;
}
} 
}

.part-01{
  padding-right: 0;
}
.part-02{
  padding-left: 0;
}

}


/*_____________ home 4 _____________*/
.kopa-page-header-4{
  background: $cl-004;
  .header-top{
    padding: 30px 0 24px 0;
    background: $cl-001;
  }
  .header-bottom{
    background: $color-primary;
    
    height: 58px;
    line-height: 58px;
    margin-bottom: 10px;
    .header-left{
      position: relative;
      .hamburger-menu{               
        float: left;
        cursor: pointer;
        margin-left: 30px;
        padding-top: 22px;
        width: 25px;
        height: 58px;
        line-height: 58px;
        span{
          display: block;
          width: 100%;
          height: 3px;
          background: $cl-001;
          margin-top: 3px;     
          &:first-child{
            margin-top: 0;
          }                            
          @extend %transition;

        }

        &:hover{
          span{
           @extend %maini_bg_color;
         }
       }

     }


     .nav-4{

      float: left;
      margin-left: 30px;
      ul{
        @extend %clearfix;
        margin: 0;
        padding: 0;
        li{
          float: left;
          list-style-type: none;
          margin-bottom: 0;
          margin-right: 40px;
          &:last-child{
            margin-right: 0;
          }
          a{
            text-transform: uppercase;
            font-family: $font-primary;
            color: $cl-001;
            &:hover{
              @extend %main_color;
            }
          }
        }
      }
    }
  }
}
}


.search-box-4{
  margin-right: 22px;
  position: relative;
  .preSearch-4{
    color: $cl-001;
    position: absolute;
    top: 3px;
    right: 0;        
    span{
     height: 55px;
     line-height: 55px;
     font-size: 18px;
     cursor: pointer;
     @extend %transition;
     &:hover{
      @extend %maini_color;             
    }
  }
}
form{
  opacity: 0;
  @extend %transition;
  &.show{
    opacity: 1;

  }
}
input{
  color:$cl-001;
  background: transparent;
  border-bottom: 1px solid $cl-021!important;
  padding-left: 5px;
}
.search-submit{
 height: 42px;
 line-height: 42px;
 width: 25px;
 top: 11px;
 span{
 color:$cl-001;
 font-size: 18px;
 @extend %transition;
 &:hover{
  @extend %main_color;
 }
}
}
}

/*_____________  _____________*/

.kopa-page-header-1{
  .hamburger-menu{
   display: none;
   font-size: 35px;
   font-weight: normal;
   margin-right: 30px;
   margin-top: 5px;
   @extend %main_color;
   cursor: pointer;
   @extend %transition;
   &:hover{
    color: $color-primary;
  }
}
.search-box{
  width: 170px;
  float: right;
}
}

.search-box form{
  position: relative;
}
.member-1{
  display: none;
}

.kopa-page-header-1 .search-box .preSearch{
  display: none;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
}

.kopa-page-header-2 .hamburger-menu{
 display: none;
 font-size: 35px;
 font-weight: normal;
 margin-right: 30px;
 margin-top: 5px;
 @extend %main_color;
 cursor: pointer;
 @extend %transition;
 margin-top: 25px;
 margin-left: 25px;
 &:hover{
  color: $color-primary;
}
}

.kopa-page-header-2 .preSearch{
  display: none;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  margin-top: 25px;
  margin-right: 25px;
  cursor: pointer;
}


/*_____________ mobile menu _____________*/

.mobile-main-nav{
  display: none;
  position: absolute;
  top: 72px;
  left: 15px;
  z-index: 9999;
  width: 320px;
  background: #ebebeb;

  .mobile-main-menu{
    padding: 0 15px;
  }
  a{
    text-transform: uppercase;   
    position: relative;
    display: block;    
    span{
     position: absolute;
     top: 0;
     right: 0;
     width: 10px;
     height: 10px;
     &:after{
       content: '\f0d7';
       font-family: FontAwesome;
       font-size: 14px;


     }

   }
 }
 .open > a > span:after{content: '\f0d8'}
 li{
  list-style-type: none;
  line-height: 26px!important;
  ul{
    padding-left: 25px;
  }
}
}

.mobile-main-nav.style-02{
  top: 89px;
}




.search-box-hd-2 form{
  display: none;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 9999;
}




.mobile-main-nav-2{
 width: 100%;
 text-align: center;
 .mobile-main-menu{
  margin: auto;
  display: inline-block;
  > li{      
    width: 320px;
    ul{
      text-align: left;
    }
    >a{text-transform: uppercase}      
  }
  > li.open{
    border-bottom: 1px solid $color-010;  
    border-top: 1px solid $color-010!important;   
  }
}
a{
  position: relative;
  color: $color-010;
  text-transform: capitalize;
  font-size: 18px;
  &:hover{
    @extend %main_color;
  }
  span{
   position: absolute;
   top: -3px;
   right: -20px;
   width: 10px;
   height: 10px;
   &:after{
     content: '\f0d7';
     font-family: FontAwesome;
     font-size: 14px;


   }

 }
}
.open > a > span:after{content: '\f0d8'}
li{
  list-style-type: none;
  line-height: 26px!important;
  ul{
    padding-left: 25px;
  }
}
}



.mobile-main-nav.style-04{
  top: 58px;
  left: 0;
  background: #ddd;
}



.nav-4-sub{
    display: none;
  }