.millside-module-slider{
	margin: 0;
	a{
		@extend %transition_important;
	}
}

.slider-pro-1, .slider-pro-2{
	.sp-slide{
		background-color: rgba(45, 45, 45, 0.6);
	}
	.sp-image{
		z-index: 1!important;
		border: none;
		padding: 0;
	}
	.sp-layer.bg-gray{
		transform: scale(1)!important;
	}
	.sp-layer{
		z-index: 3;
	}
}
.slider-pro p.sp-layer{
white-space: nowrap;
	&.sp-txt-1{
		font-family: $font-primary;
		font-size: 78px;
		color: $cl-001;
		font-style: italic;
	}
	&.sp-txt-1a{
		font-family: $font-primary;
		font-size: 78px;
		font-style: italic;
		@extend %main_color;
	}
	&.sp-txt-2{
		font-family: $font-primary;	
		font-style: italic;		
		font-size: 44px;
		@extend %main_color;		
	}

	&.sp-txt-3{
		font-family: $font-secondary;
		font-size: 24px;
		color: $cl-006;
		span{
			@extend %main_color;
			font-size: 20px;
			margin-right: 15px;
		}
	}

	&.sp-txt-4{
		font-family: $font-primary;			
		font-size: 18px;
		color: $cl-006;		
	}
}
.sp-link-1{		
	a{
		border-width: 1px;
		border-style: solid;
		@extend %main_bd_color;
		border-radius: 5px;
		@extend %main_bg_color;
		color: $cl-001;
		font-family: $font-secondary;
		padding: 0px 68px;
		height: 50px;
		line-height: 50px;
		display: inline-block;
		&:hover{
			background: transparent;
		}
	}
}
.sp-link-2{
	width: 230px;
	height: 230px;
	border-radius: 100%;
	border-width: 2px;
	border-style: solid;
	@extend %main_bd_color;
	padding: 12px;
	>div{
		width: 100%;
		height: 100%;
		text-align: center;
		background-color: $color-007;
		border-radius: 100%;
		padding-top: 40px;
		p{
			margin-bottom: 15px;
			span{
				font-family: $font-primary;
				font-weight: 600;
				line-height: 25px;
				&:first-child{
					color: $cl-001;
					font-size: 32px;
				}				
			}
			.span-2{
				color:$color-primary;
				font-size: 18px;
			}
			.span-3{
				color: $cl-001;
				font-size: 24px;
			}
		}

	}

	a{
		border-width: 1px;
		border-style: solid;
		border-color: $cl-001;
		border-radius: 5px;
		background-color: $cl-001;
		color:$color-primary;
		font-family: $font-secondary;
		height: 36px;
		line-height: 36px;
		padding: 0 26px;
		display: inline-block;
		&:hover{
			background: transparent;
			color: $cl-001;
		}
	}

}


.slide-area{ 
	position: relative;
	.kopa-scroll.style-01{
		position: absolute;
		left: calc(50% - 25px);
		bottom: 40px;
		z-index: 15;
		width: 50px;
		height: 50px;
		text-align: center;
		border-radius: 100%;
		border-width: 2px;
		border-style: solid;
		border-color: $color-005;
		line-height: 50px;
		span{
			font-size: 18px;
			color: $cl-001;
			@extend %transition;
		}
		&:before{
			content: "";
			position: absolute;
			width: 2px;
			height: 40px;
			background: $color-005;
			left: calc(50% - 1px);
			top: 48px;
		}

		&:hover{
			span{
				@extend %main_color;
			}
		}
	}
}

/*_____________ Slider 2 _____________*/

.slider-pro p.sp-layer.sp-txt-5{
	font-family: $font-secondary;
	font-size: 16px;
	color: $cl-006;
	line-height: 1.7em;
}
.sp-link-3{		
	a{
		border-width: 1px;
		border-style: solid;
		@extend %main_bd_color;
		border-radius: 5px;
		
		color: $cl-001;
		font-family: $font-secondary;
		padding: 0px 68px;
		display: inline-block;
		height: 60px;
		line-height: 60px;
		&:hover{
			@extend %main_bg_color;
		}
	}
}

.slider-pro-2{
	position: relative;
	.sp-buttons{
		position: absolute;
		top: 50%;
		right: 90px;
		z-index: 10;
		width: 12px;
	}
	.sp-button{
		border: 1px solid $cl-011;
		width: 12px;
		height: 12px;
		margin: 0px!important;
		position: relative;
		@extend %transition;
		&.sp-selected-button, &:hover{
			@extend %main_bg_color;
			border-color: $cl-001;
		}
		&:after{
			content: "";
			position: absolute;
			top: 11px;
			left: 50%;
			width: 1px;
			height: 15px;
			background: $cl-011;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
	}
}

/*_____________ Slider 3 _____________*/

.slider-pro-3{
	position: relative;
	.sp-buttons{
		position: absolute;
		bottom: 30px;	
		z-index: 10;
	}
	.sp-button{
		border: 1px solid $cl-011;
		width: 12px;
		height: 12px;
		// margin: 0px!important;
		position: relative;
		@extend %transition;
		&.sp-selected-button, &:hover{
			@extend %main_bg_color;
			border-color: $cl-001;
		}
		&:after{
			content: "";
			position: absolute;
			top: 50%;
			right: -10px;
			width: 10px;
			height: 1px;
			background: $cl-011;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
	}
}

.slide-area-3{
	padding: 30px 30px 0;
	position: relative;

	.millside-module-banner-3{
		position: absolute;
		top: 0;
		left: 90px;
		width: 470px;
		height: 100%;
		z-index: 12;
	}

	&:after{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 100%;
		background: $cl-001;
		z-index: 99;
	}
}

.millside-module-banner-3{
	background-color: $cl-016;
	text-align: center;
	padding-top: 40px;
	p{
		&:nth-of-type(1){
			text-transform: uppercase;
			font-size: 44px;
			font-family: $font-primary!important;
			color: $color-primary;
			border-top: 1px solid $cl-017;
			display: inline-block;
			line-height: 1.5em;
			margin-top: 30px;
			position: relative;
			&:after{
				content: "";
				position: absolute;
				width: 60%;
				height: 1px;
				bottom: 0px;
				left: 20%;
				background: $cl-017;
			}
		}
		&:nth-of-type(2){
			font-size: 18px;
			text-transform: uppercase;
		}
		&:nth-of-type(3){
			font-size: 40px;
			font-family: $font-primary;
			color: $color-primary;
			margin-top: 100px;
			font-weight: bold;
		}
		&:nth-of-type(4){
			font-size: 24px;
			font-family: $font-primary;
			color: $color-primary;
			margin-bottom: 30px;
		}
	}

	.kopa-scroll.style-02{
		font-size: 40px;
		color: $color-010;
		z-index: 99;
		@extend %transition;
		&:hover{
			@extend %main_color;
		}
	}
}
.navibar{
	position: absolute;
	top: 30px;
	right: 30px;
	width: 60px;
	text-align: center;
	z-index: 99;
	>div{
		cursor: pointer;
		@extend %transition;
	}
}
.nav-btn-01{
	color: $cl-001;
	background: $color-primary;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
	&:hover{
		@extend %main_color;
	}
}
.nav-btn-02{
	color: $cl-001;
	@extend %main_bg_color;
	height: 230px;
	position: relative;
	padding-top: 10px;

	div{
		-webkit-transform: rotate(-90deg); 
		-moz-transform: rotate(-90deg);
		transform: rotate(-90deg);
		white-space: nowrap;		
		display: inline-block;
		position: absolute;
		left: -30px;
		top: 50%;
		font-size: 18px;
	}
	&:hover{
		background: $color-primary;
	}
}
.nav-btn-03{
	background: $cl-018;
	color: $color-primary;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
	&:hover{
		@extend %main_color;
	}
}
.nav-btn-04{
	@extend .nav-btn-03;
	font-family: $font-primary;
	font-size: 21px;
}



.kopa-menu-3{
	position: absolute;
	top: 30px;
	left: 30px;
	width: calc(100% - 60px);
	background: rgba(56, 57, 56, 0.9);
	z-index: 99;
	text-align: center;
	display: none;
	padding-bottom: 200px;
	z-index: 9999;
	.kopa-logo{
		margin-top: 35px;
		margin-bottom: 50px;
	}

}

.close-menu-3{
	position: absolute;
	top: 0px;
	right: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: $color-001;
	text-align: center;
	z-index: 100;
	cursor: pointer;
	color: $cl-004;
	font-size: 24px;
	@extend %transition;
	&:hover{
		background: $color-010;
	}
}



/*_____________  _____________*/
.slider-pro-5{
	background: $cl-001;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		bottom: 44px;
		left: 15%;
		width: 70%;
		height: 40px;
		background: $cl-001;
		z-index: 1;

	}

	.sp-arrows{
		top: auto;
		bottom: 0px;
		z-index: 999!important;
	}
	.sp-arrow{
		opacity: 1;
		width: 45px;
		height: 45px;
		background: $cl-009;
		span{
			display: block;
			width: 45px;
			height: 45px;
			text-align: center;
			line-height: 45px;			
			color: $cl-020;
			border-radius: 100%;
			border: 1px solid $cl-020;
		}
		@extend %transition;
		&:hover{
			background: $color-primary;
		}
		&.sp-previous-arrow{
			left: 0;
		}
		&.sp-next-arrow{
			right: 0;
		}
		&:after, &:before{
			display: none!important;
		}
	}
	.sp-caption-container{
		height: 84px;
		line-height: 104px;
		font-size: 24px;		
		font-family: $font-primary;
		font-weight: bold;
		background: $cl-001;		
		width: 70%;
		margin-left: 15%;
		z-index: 999!important;
		margin-top: -40px;


	}
}