.woocommerce{
    .woocommerce-main-header{
        @extend %clearfix;
        border-bottom: 1px solid $cl-004;
        padding-bottom: 3px;
        display: inline-block;
        width: 100%;
    }
    .product-num-ordering{
        margin-top: 16px;
    }
    .woocommerce-ordering{
        position: relative;
        &:before{
            content: "\f0d7";
            font-family: fontawesome;
            font-size: 14px;
            position: absolute;
            top: 0;
            right: 30px;
            height: 35px;
            line-height: 35px;
            pointer-events:none;

        }
        .orderby{
            height: 35px;
            line-height: 35px;
            padding: 0 45px 0 30px;
            border: none;
            background: $cl-019;

            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;       
            option{
                background: $cl-001;
            }

        }
    }
    .woocommerce-main-content{
        margin-top: 40px;
        ul{
            @extend %clearfix;
            padding: 0;
            margin-top: -60px;
            li{
                margin-top: 60px;
                list-style-type: none;
            }
        }
    }

    ul.products{
        margin: 0 -15px;
        @extend %clearfix;
        margin-top: -60px;
        li{
            margin-top: 60px;
        }
    }

    div.product{
       div.images{
        width: 48%;
        float: left;
    }

    div.summary{
        float: right;
        width: 48%;
    }

    .product_title {
        font-size: 36px;
        font-weight: bold;
        line-height: 40px;

    }

    .price{
        margin-top: 25px;
        margin-bottom: 25px;
        ins, del{
           text-decoration: none!important;
           font-size: 18px;
           font-family: $font-primary;
           font-weight: 300!important;
           display: block;
       }
       ins{
        margin-bottom: 8px;
        @extend %main_color;
        >span{
            font-size: 36px;
            font-weight: bold;
            >span{
                font-size: 24px;
            }
        }
    }
    del{
        color: $cl-009;
    }
}
.product_meta{
    margin-top: 35px;
    font-family: $font-primary;
    > span{
        display: block;
        > a{
            @extend %main_color;
            &:hover{
                color: $cl-003;
            }
        }
    }
}

.cart{
    margin-top: 35px;
    .single_add_to_cart_button{
        display: block;
        height: 50px;
        line-height: 50px;
        padding: 0 50px;
        font-size: 15px;
        @extend %main_bg_color;
        @extend %transition;
        span{
            margin-right: 5px;
        }
        &:hover{
            background: $color-primary;
        }
    }

    .quantity{
        border: 1px solid $cl-004;
        input{
            height: 50px;
            text-align: center;
            background: transparent; 
            border: none;
            &:first-child, &:last-child{
                width: 37px;

            }      
            &.qty{
                width: 70px;
                border-left: 1px solid $cl-004;
                border-right: 1px solid $cl-004;
                font-size: 18px;
            }  
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
    }
}

.star-rating {
    &:before{ 
        color: $cl-026!important;
    }
    span{
        width: 0%;
        &:before{ 
            color: $color-017;
        }
    }
}

}

.woocommerce-tabs {
   ul{
    padding: 0!important;
    border: none!important;
    &:after, &:before{
        display: none!important;
    }
    li{
        background: none !important;
        box-shadow: none!important;
        border-radius: 0!important;
        border: none!important;
        padding: 0!important;
        margin: 0!important;

        &:after, &:before{
            display: none!important;
        }
        a{
            border: none!important;
            border-radius: 0;
            &:after, &:before{
                display: none!important;
            }
            cursor: pointer;
            display: block!important;
            width: 100%;
            @extend %main_bg_color;
            padding: 0 50px!important;
            height: 50px;
            line-height: 50px;
            color: $cl-020!important;
            &:hover{
                background: $cl-004;
                color: $color-primary!important;
            }
        }
        &.active a{
            background: $cl-004;
            color: $color-primary!important;
        }
    }
}
}


}



.woocommerce-tabs.wc-tabs-wrapper{
    margin-top: 60px;
}




.woocommerce div.product .star-rating:before{
    content: '\73\00a0\73\00a0\73\00a0\73\00a0\73';
}
.woocommerce div.product .star-rating span:before{
    content: '\53\00a0\53\00a0\53\00a0\53\00a0\53';
}

.woocommerce .star-rating{
    width: 8em;
}


